.login-form {
  border-radius: 10px;
  padding: 20px;
  background: #18181C;
  &-fields {
    @extend .login-form;
    width: 100%;
  }
  h1{
    color: white;
  }
}

.login-form-fields {
  width: 100%;
}
